.header{ 
    display: none;
}
.nav{
    display: none;
}
.wrapper{
    width: 100%;
    background-color: white;
    color: black;
}
.content{
            width: 100%;    
        }
.stickynote{
    display: none;
}
img{
    display: none;
}